@media screen and (max-width: 1199px) {
    .header {
        max-width: 928px;
    }

    .lead {
        max-width: 928px;
        margin: 48px auto 0;
    }

    .lead__image {
        height: 580px;
        width: 928px;
        margin: 56px auto 0;
    
    }

    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }

    .photo-grid__item {
        max-width: 300px;
        max-height: 225px;
    }

    .places {
        max-width: 928px;
    }

    .place {
        grid-template-columns: max-content 456px;
        gap: 48px 32px;
    }

    .place__image {
        width: 440px;
        height: 440px;
    }

    .place__title {
        max-width: 440px;
    }

    .cover {
        width: 1024px;
        height: 640px;   
    }

    .footer {
        width: 928px;

    }
}
