@media screen and (max-width: 1023px) {
    .header {
        max-width: 720px;
    }
    
    .lead {
        max-width: 768px;
        margin-top: 48px;
    }

    .intro {
        max-width: 720px;
        margin: 88px auto 0;
    }

    .intro__text {
        max-width: 720px;
    }

    .lead__image {
        max-height: 480px;
        max-width: 768px;
    }

    .lead__caption {
        margin: 8px 0 0 24px;
    }

    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 16px;
        margin: 88px auto 0;
    }

    .photo-grid__item {
        max-width: 352px;
        max-height: 264px;
    }

    .places {
        max-width: 720px;
        margin: 88px auto;
    }

    .place__title {
        max-width: 330px;
        font-size: 42px;
        line-height: 110%;
    }

    .place {
        grid-template-columns: max-content 352px;
        gap: 48px 28px;
        margin: 0 auto 72px;
    }

    .place__image {
        width: 340px;
        height: 340px;
    }

    .place__paragraph p {
        font-size: 16px;
        line-height: 163%;
        margin: 0 0 25px 0;
    }

    .cover {
        width: 768px;
        height: 480px;
        margin: 90px auto 0;
    }

    .footer {
        width: 720px;
        margin: 88px auto 0;
    }
}