.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 114%;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        line-height: 100%;
        margin: 48px 0 0;
    }
}