.lead__subtitle {
    width: 100%;
    max-width: 640px;
    max-height: 72px;
    height: 100%;
    margin: 32px auto 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    text-align: center;

}
