.cover {
    width: 100%;
    max-width: 92.5%;
    min-height: 62.5vw;
    margin: 92px auto 0;
    position: relative;
    background-image: url('../../images/__background_image.png');
    display: flex;
    background-size: cover;
}


@media screen and (max-width: 1279px) {
    .cover {
        max-width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        margin: 90px auto 0;
    }
}


@media screen and (max-width: 767px) {
    .cover {
        margin: 66px auto 0;
    }
}
