.cover__overlay {
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.cover__overlay::before {
    content: "";
    display: block;
    background: rgb(42 44 47 / 30%);
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0%;
    transition: .2s;
}

.cover__overlay:hover::before {
    background:rgb(42 44 47 / 80%);
    cursor: pointer;
}